<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>JSON to Cards</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/">produtos</a></li>
            <li><a href="/carrinho">carrinho</a></li>
            <li><a href="/pagar">pagamento</a></li>
        </ul>
    </nav>
    <section>
        <h1>BESTBUY</h1>
        <h2>ELETRONICOS</h2>
        <div id="cards-container"></div> <!-- Corrigido o ID aqui para 'cards-container' -->
    </section>
    <script type="module" src="../js/index.js"></script> <!-- Corrigido o caminho do arquivo JavaScript -->
</body>
</html>
